nav{
    position: relative;
    width: 100%;
    height: 60px;
    background: rgb(21, 86, 161);
    color: #fff;
    box-sizing: border-box;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}
nav button{
    position: relative;
    padding: 0 30px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    transition: 0.5s;
    color: #fff;
}
nav button:hover{
    background: rgb(13, 63, 119);
}