.PokemonBlock{
    position: relative;
    width: 100%;
    min-height: calc((100vh - 160px) / 2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}