.App{
    position: relative;
    width: 100%;
    height: 100vh;
    background : linear-gradient(
        135deg ,
        rgb(0 0 0) 0%,
        rgb(84 84 84) 50%,
        #6b8bd6  50%,
        #041b51  100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}