.app{
	background: #090E11;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.app_body{
	position: relative;
	width: 90%;
	height: 90%;
	background-color: #ededed;
	display: flex;
	justify-content: center;
	align-items: center;
}