*{
  margin : 0;
  padding: 0;
}
body{
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.App{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App .container{
  position: relative;
  width: 800px;
  overflow: hidden;
  text-align: center;
}
.App .container h2{
  margin-bottom: 30px;
}
.App .container .image-wrapper{
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.App .container .image-wrapper img.img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}
.App .container .image-wrapper img.img:hover{
  transform: scale(1.15);
  filter: grayscale(1);
}