.coin{
    position: relative;
    width: 100%;
}
.coin h1{
    margin-bottom: 25px;
}
.coin img{
    margin-bottom: 25px;
}
.coin h3{
    line-height: 30px;
    position: relative;
    max-width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.coin button{
    background: none;
    border: none;
    outline: none;
    padding: 9px 30px;
    font-weight: bolder;
    border: 1.75px solid #000;
    transition: 0.5s;
}
.coin button:hover{
    background: #000;
    color: #fff;
}
@media screen and (max-width:350px){
    .coin img{
        width: 220px;
    }
}