.ColorBox{
    position: relative;
    width: 20%;
    height: 25%;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: -4px;
}
.copy-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 30px;
    transform: translate(-50%,-50%);
    background: none;
    border: none;
    outline: none;
    background: #fff3;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.5s;
}
.ColorBox .copy-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.ColorBox .copy-container:hover .copy-btn{
    opacity: 1;
}
.box-content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.see-more{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #fff3;
}
.overlay{
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    position: relative;
    transform: scale(0.1);
    position: relative;
    top: 0;
    left: 0;
}
.ColorBox .overlay.active{
    opacity: 1;
    transform: scale(50);
    position: absolute;
}
.copy-msg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.1);
    opacity: 0;
    pointer-events: none;
}
.copy-msg.active{
    opacity: 1;
    transform: scaleX(1);
    transition: 0.5s 0.3s ease-in-out;
}
.copy-msg h1{
    font-size: 5rem;
    color: #fff;
    text-shadow: 1px 2px #000;
    padding: 1rem;
    background: #fff3;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
.copy-msg p{
    font-size: 2rem;
    font-weight: 100;
    color: #fff;
}
